image:
  repository: ghcr.io/go-vikunja/vikunja
  tag: "latest"
  pullPolicy: IfNotPresent

serviceAccount:
  create: ture
  name: vikunja

controllers:
  main:
    replicas: 3

service:
  main:
    ports:
      http:
        port: 3456

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes:
  liveness:
    enabled: true
    custom: true
    spec:
      httpGet:
        path: /api/v1/info
        port: http
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 2
      failureThreshold: 3

  readiness:
    enabled: true
    custom: true
    spec:
      httpGet:
        path: /api/v1/info
        port: http
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 2
      failureThreshold: 3

topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: topology.kubernetes.io/zone
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        app.kubernetes.io/name: vikunja

podDisruptionBudget:
  enabled: true
  minAvailable: 1

persistence:
  data:
    enabled: false

env:
  VIKUNJA_SERVICE_INTERFACE: ":3456"
  VIKUNJA_LOG_LEVEL: info
  VIKUNJA_METRICS_ENABLED: "true"
  VIKUNJA_MIGRATION_ENABLED: "true"

ingress:
  main:
    enabled: false
